:root{
    --azzurro: #44bbde;
    --verde: #7cea25;
}
html {
    scroll-behavior: smooth;
}
::-webkit-scrollbar {
    width: 1px;
    height: 0px;
    background: transparent;
}
header{
    margin-top: 8% !important;
}
.navbar_logo{
    display: inline-block !important;
    width: 30%;
    padding-left: 20%;
}
.navbar_logo_smartphone{
    display: none !important;
}
.nav_table_smartphones{
    display: none !important;
}
.nav-link, .navbar-brand{
    font-size: 125% !important;
    color: white !important;
    text-transform: uppercase;
}
.nav-link:hover{
    color: var(--verde) !important;
}
.navbar_logo{
    width: 30% !important;
}
.phone{
    position: absolute !important;
    color: var(--verde) !important;
    font-size: 190% !important;
    padding: 0.5% !important;
    border-radius: 10px !important;
    background-color: rgb(40, 40, 40) !important;
    top: 105% !important;
    left: 84% !important;
}
.phone > a {
    text-decoration: none !important;
    color: var(--verde) !important;
}
.offers{
    margin-top: 10% !important;
    margin-bottom: 5% !important;
    display: flex !important;
    justify-content: space-evenly;
    max-width: 90% !important;
    margin-left: 5% !important;
}
.card{
    width: 20% !important;
}
@media only screen and (max-width:1800px){
    .collapse{
        margin-left: -35% !important;; 
    }
    .phone{
        left: 80% !important;
        font-size: 180% !important;
    }
}
/*Smartphone management*/
@media only screen and (max-width:992px){
    .navbar_logo{
        display: none !important;
    }
    .navbar_logo_smartphone{
        display: inline-block !important;
        width: 15%;
    }
    .offers{
        flex-direction: column !important;
        align-items: center !important;
    }
}

/*Tablet management*/
@media only screen and (max-width:1325px){
    .navbar_logo{
        padding: 0 0 0 1% !important;
        margin: 0 0 0 1% !important;
    }
    .navbar-toggler{
        padding-left: -5% !important;
    }
    .nav_desktop{
        display: none !important;
    }
    .nav_table_smartphones{
        display: inline-block !important;
    }
}