:root{
    --azzurro: #44bbde;
    --verde: #7cea25;
}
html {
    scroll-behavior: smooth;
}
::-webkit-scrollbar {
    width: 1px;
    height: 0px;
    background: transparent;
}
.nav-wrapper{
    height: 180% !important;
}
.nav-wrapper > ul{
    margin-top: 1% !important;
    margin-right: 5% !important;
}
.navbar_logo{
    margin: 0.3% 0 0 15% !important;
    width: 10% !important;
}
.phone_number{
    font-size: 200% !important;
    color: var(--verde) !important;
    border: var(--verde) 1px solid !important;
    border-radius: 10px !important;
}
.phone_number:hover{
    background-color: var(--verde) !important;
    color: black !important;
}
nav > div > ul > li > a{
    text-transform: uppercase !important;
}
.offers{
    margin-top: 5% !important;
    display: flex;
    justify-content: space-evenly;
    margin-left: 10% !important;
}
.card-title{
    background-color: rgba(0, 0, 0, 0.8) !important;
}

/* widescreen */
@media only screen and (max-width: 2560px) {
}
/*Smartphone management*/
@media only screen and (max-width:991px){
    .phone_number{
        border: none !important;
    }
    .nav-wrapper{
        height: 100% !important;
    }
    .nav-wrapper > ul{
        margin-top: 0 !important;
        margin-right: 0 !important;
    }
    .navbar_logo{
        margin: 0 0 0 40% !important;
        width: 13% !important;
    }
    .offers{
        margin-left: 0 !important;
        margin-right: 15% !important;
    }
}

/*Tablet management*/
@media only screen and (max-width:1200px){
    .offers{
        margin-left: 25% !important;
        flex-direction: column !important;
    }
    .navbar_logo{
        margin: 0.3% 0 0 10% !important;
    }
    .nav-wrapper > ul{
        margin-top: 2% !important;
        margin-right: 1% !important;
    }
}